<app-chat-bot></app-chat-bot>
<div class="z-1">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
          <a href="#page-top">
            <img src="assets/img/Logo.png" width="170" height="50" alt="..." />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars ms-1"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                  <li class="nav-item"><a class="nav-link" href="products">Ver Productos</a></li>
                  <li class="nav-item"><a class="nav-link" href="#mision_vision">Mision y Vision</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact">Contactenos</a></li>
              </ul>
          </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container">
          <div class="masthead-subheading">¡Bienvenido a nuestro estudio!</div>
          <div class="masthead-heading text-uppercase">ENCANTADO DE CONOCERTE</div>
          <a class="btn btn-primary btn-xl text-uppercase" href="#services">Conocenos Más</a>
      </div>
    </header>
    <!-- Mision y Vision Grid-->
    <section class="page-section py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8" id="mision_vision">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestra Misión y Visión</h2>
        </div>

        <div class="grid mt-8 pb-2 md:pb-8">
            <div class="col-6 lg:col-12">
                <div class="flex justify-content-center bg-purple-100 p-0 flex-order-1 lg:flex-order-0" style="border-radius:8px;">
                    <img src="assets/img/mision.jpg" class="w-11">
                </div>
            </div>
            <div class="col-6 lg:col-12 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
                <h2 class="line-height-1 text-900 text-4xl font-normal">Misión</h2>
                <span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">La empresa MUEBLES 
                    OSCANOA EIRL es una empresa dedicada a la venta y comercialización de muebles para peluquería, 
                    hogar, oficina, mobiliario médico, etc., donde se brinda una amplia variedad de productos de acorde 
                    a diversos niveles socioeconómicos de los clientes, como también gustos y preferencias, siguiendo 
                    tendencias de nuevos muebles. Contamos con personal capacitado para que todo el proceso de venta sea 
                    lo más ágil y entretenido para nuestros clientes.</span>
            </div>
        </div>

        <div class="grid my-8 pt-2 md:pt-8">
            <div class="col-6 lg:col-12 my-auto flex flex-column text-center lg:text-left lg:align-items-start">
                <h2 class="line-height-1 text-900 text-4xl font-normal">Visión</h2>
                <span class="text-700 text-2xl line-height-3 mr-0 md:mr-2" style="max-width:650px;">La empresa MUEBLES 
                    OSCANOA EIRL es una empresa dedicada a la venta y comercialización de muebles para peluquería, hogar, 
                    oficina, mobiliario médico, etc., donde se brinda una amplia variedad de productos de acorde a 
                    diversos niveles socioeconómicos de los clientes, como también gustos y preferencias, siguiendo 
                    tendencias de nuevos muebles. Contamos con personal capacitado para que todo el proceso de venta sea 
                    lo más ágil y entretenido para nuestros clientes.</span>
            </div>

            <div class="flex justify-content-end flex-order-1 sm:flex-order-2 col-6 lg:col-12 bg-yellow-100 p-0" style="border-radius:8px;">
                <img src="assets/img/vision.png" class="w-11">
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <img src="../../../assets/img/info.png" alt="">
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4 text-lg-start">Copyright &copy; Muebles Oscanoa 2023</div>
              <div class="col-lg-4 my-3 my-lg-0">
                  <!-- <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a> -->
                  <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/mueblesoscanoa/" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                  <!-- <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a> -->
              </div>
              <!-- <div class="col-lg-4 text-lg-end">
                  <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                  <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
              </div> -->
          </div>
      </div>
    </footer>
</div>